<div class="filters panel">
  <div class="title-side">
    <small>
        Project filters
    </small>
  </div>
  <fieldset>
    <label>iOS</label><input type="checkbox">
  </fieldset>
  <fieldset>
    <label>Software</label><input type="checkbox">
  </fieldset>
  <fieldset>
    <label>UX</label><input type="checkbox">
  </fieldset>
  <fieldset>
      <label>Other</label><input type="checkbox">
  </fieldset>
</div>

<div class="projects" id="projects-container">
  <!-- for each project, putput a card-->
  
  
  <div class="project panel">
      <div>
        <h3>PROJECT TITLE</h3>
        <p>
        project details in less than 200 characters because there shouldn't be mch space or soemthing lol. needa google!!!
        </p>
        <!-- for each tag in the project, output it on a single line, (and truncate)-->
        <small>HTML5</small>
        <small>Lucene</small>
        <small>JQuery</small>
        <small>SASS</small>
      </div>
    </div>

</div>