<div class="uppernav">
  <div class="selin">
    
    <span class="title-3d lime">
        {{ title | uppercase}}
    </span>
    <span class="title-dot red">
      {{ title | uppercase}}
    </span>
    <span class="title-solid aqua ">
        {{ title | uppercase}}
    </span>
  </div>
  <nav>
    <a href="#about">about</a>
    <a href="#projects">work</a>
    <a href="#">resume</a>
  </nav>
</div>
<nav class="socials">
  <a href="https://www.instagram.com/selindeniseacar/"><img src="../../assets/images/ig.png" alt="Insta"/></a>  
  <a href="https://www.linkedin.com/in/selinacar/"><img src="../../assets/images/in.png" alt="Linkedin"/></a>
  <a href="https://github.com/sacar2"><img src="../../assets/images/gh.png" alt="Github"/></a>
</nav>